@page "/"

<PageTitle>Index</PageTitle>

<div class="page-wrapper">
    <div class="container">
        <div class="row mb-3 text-center">
            <div class="col-md-12">
				<h1>5 Random Users</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>
									Title
								</th>
								<th>
									First Name
								</th>
								<th>
									Surname
								</th>
								<th>
									Age
								</th>
								<th>
									Country
								</th>
								<th>
									Latitude
								</th>
								<th>
									Longitude
								</th>
							</tr>
						</thead>

						<tbody>
							@foreach (var user in Users)
							{
								<tr>
									<td>
										@user.name.title
									</td>
									<td>
										@user.name.first
									</td>
									<td>
										@user.name.last
									</td>
									<td>
										@user.dob.age
									</td>
									<td>
										@user.location.country
									</td>
									<td>
										@user.location.coordinates.latitude
									</td>
									<td>
										@user.location.coordinates.longitude
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>

		@if (!String.IsNullOrEmpty(ErrorMessage))
		{
			<div class="row">
				<div class="col error" style="color:red;">
					@ErrorMessage
				</div>
			</div>
		}
	</div>
</div>